

@import  '../helper/mixin.scss';
@import  '../helper/font.scss';

.full-bg{
    .container-full-bg{
        .content{
            .upcoming{
                background-color: white;
                .container-upcoming{
                    margin: 0 auto;
                    width: 90%;
                    padding-top: 10%;
                    padding-bottom: 10%;
                    h2{
                        @include h2;
                        margin-top: 0px;
                    }
                    h2:before{
                        @include h2-border;
                        color:#fb6667;
                        width: 46%;
                        margin: 0 auto;
                        left: 0;
                        right: 0;
                    }
                    .classes{
                        padding-top: 3%;
                        .class1{
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 5%;
                            padding-top: 8%;
                            border-bottom: 1px solid #ffd263;
                            .img-class1{
                                width: 24%;
                                padding-top: 5px;
                                img{
                                    width: 100%;
                                }
                            }
                            .info-class1{
                                width: 55%;
                                h3{
                                    @include p;
                                    margin-top: 0px;
                                }
                                p{
                                    @include p;
                                    color: #8f8f8f;
                                    width: 83%;
                                    font-size: 13px;
                                }
                                div{
                                    margin-bottom: 17px;
                                    i{
                                        color: #ff6364;
                                    }
                                    span{
                                        color : #8f8f8f;
                                        padding-right: 12px;
                                    }
                                }
                            }
                            div{
                                button{
                                    color: white;
                                    background: #ff6364;
                                    border: none;
                                    padding: 10px 20px;
                                    border-radius: 24px;
                                    margin-top: 45px;
                                    cursor: pointer;
                                    font-size: 14px;
                                    transition: all 0.5s ease-out;
                                    &:hover{
                                        background: #fbcc67;
                                    }
                                }

                            }
                        }
                        #class1{
                            border-bottom: none;
                        }
                    }
                }
                button{
                    background: #26c281;
                    width: 100%;
                    border: none;
                    padding: 16px;
                    font-size: 18px;
                    color: white;
                    font-family: 'Lato';
                    cursor: pointer;
                    transition: all 0.5s ease-out;
                    &:hover{
                        background: #ff6364;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .full-bg{
        .container-full-bg{
            .content{
                .upcoming{
                    .container-upcoming{
                        .classes{
                            .class1{
                                display: block;
                                .img-class1{
                                    width: 100%;
                                }
                                .info-class1{
                                    width: 100%;
                                    padding-top: 20px;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}