
// @mixin main-font-fam {
//     font-family: $font-family;
// }
// $font-family : 'Amatic SC';

@mixin set-font($name, $link){
    @font-face{
        font-family: $name;
        src: url($link) format("opentype"); 
    }
};

@mixin set-f-s-cl($fam, $size, $cl){
    font-size: $size;
    color: $cl;
    font-family: $fam;
};

@mixin flex($dir){
    display: flex;
    flex-direction: $dir;
    @content
};

@mixin res($width) {
    @media screen and(max-width: $width) {
        @content;
    }
}

@mixin res2($max-w, $min-w) {
    @media only screen and (max-width:$max-w) and (min-width:$min-w){
        @content;
    } 
}

@mixin span{     
        position: relative;
        &::before{
            content: '';
            position: absolute;
            border-bottom: 2px solid $color;
            width: 70%;
            top: 50px;
            z-index: 1;
            
        } 
        &::after{
            content: '';                   
            position: absolute;
            border-bottom: 1px solid #ddd;
            width: 110%;
            top: 51px;
            left: 0px;
        } 
}

$font-fam : 'Open Sans';
$font-fam1 : 'Raleway';
$color: #FF7564;


