
@import '../helper/mixin.scss';
.form{
    background-image: url(../../assets/image7/rsvp_bg.jpg);
    background-position: left;
    background-size: cover;
    margin-top: 40px;
    .container-form{
        padding: 6% 0px;
        margin: 0 auto;
        width: 48%;
        h2{
            @include h2;
            font-size: 37px;
            position: relative;
            color: white;
        }
        h2::before{
            @include h2-border;
            width: 15%;
            left: 0;
            right: 0;
            color: white;
        }
        p{
            font-family: $font-fam;
            font-size: 14px;
            line-height: 32px;
            padding-top: 40px;
            color: white;

        }
        .form-1{
            background: white;
            margin-top: 65px;
            .container-form-1{
                padding: 40px;
                input{
                    width: 97%;
                    padding: 20px 0px 20px 15px;
                    margin-bottom: 20px;
                    border: 1px solid #dedede;
                }
                div{
                    display: flex;
                    position: relative;
                    select{
                        width: 100%;
                        padding: 20px 0px 20px 16px;
                        margin-bottom: 20px;
                        position: relative;
                       -webkit-appearance: button;
                       border: 1px solid #dedede;

                    }
                    i{
                        right: 0;
                        padding: 20px;
                        border: 1px solid #dedede;
                        position: absolute;
                        color: #dedede
                    }
                }


                textarea{
                    width: 97%;
                    padding: 20px 0px 20px 17px;
                    margin-bottom: 20px;
                    border: 1px solid #dedede;
                }
                button{
                    width: 100%;   
                    padding: 15px;
                    color: white;
                    border: none;
                    background: #b9675e;
                    font-family: $font-fam1;
                    font-size: 16px;
                    transition: all 0.5s ease-out;
                    cursor: pointer;
                    &:hover{
                        background: #90A8AD
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1920px){
    .form{
        .container-form{
            .form-1{
                .container-form-1{
                    input{
                        padding: 20px 0px 20px 21px;
                    }
                    textarea{
                        padding: 20px 0px 20px 23px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 1680px){
    .form{
        .container-form{
            .form-1{
                .container-form-1{
                    input{
                        padding: 20px 0px 20px 18px;
                    }
                    textarea{
                        padding: 20px 0px 20px 18px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 1537px){
    .form{
        .container-form{
            .form-1{
                .container-form-1{
                    input{
                        padding: 20px 0px 20px 17px;
                    }
                    textarea{
                        padding: 20px 0px 20px 17px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 1440px){
    .form{
        .container-form{
            .form-1{
                .container-form-1{
                    input{
                        padding: 20px 0px 20px 14px;
                    }
                    textarea{
                        padding: 20px 0px 20px 16px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 1367px){
    .form{
        .container-form{
            .form-1{
                .container-form-1{
                    input{
                        padding: 20px 0px 20px 15px;
                    }
                    textarea{
                        padding: 20px 0px 20px 15px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 1024px){
    .form{
        .container-form{
            width: 65%;
            .form-1{
                .container-form-1{
                    input{
                        padding: 20px 0px 20px 15px;
                    }
                    textarea{
                        padding: 20px 0px 20px 15px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 800px){
    .form{
        .container-form{
            width: 85%;
            .form-1{
                .container-form-1{
                    input{
                        padding: 20px 0px 20px 16px;
                    }
                    textarea{
                        padding: 20px 0px 20px 16px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 768px){
    .form{
        .container-form{
            width: 85%;
            .form-1{
                .container-form-1{
                    input{
                        padding: 20px 0px 20px 15px;
                    }
                    textarea{
                        padding: 20px 0px 20px 15px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 600px){
    .form{
        padding: 20px 0px;
        .container-form{
            .form-1{
                .container-form-1{
                    input{
                        padding: 20px 0px 20px 10px;
                    }
                    textarea{
                        padding: 20px 0px 20px 10px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 415px){
    .form{
        .container-form{
            .form-1{
                .container-form-1{
                    padding: 30px;
                    input{
                        padding: 20px 0px 20px 6px;
                    }
                    textarea{
                        padding: 20px 0px 20px 6px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 385px){
    .form{
        .container-form{
            .form-1{
                .container-form-1{
                    padding: 30px;
                    input{
                        padding: 20px 0px 20px 6px;
                    }
                    textarea{
                        padding: 20px 0px 20px 6px;
                    }
                    div select{
                        padding: 20px 0px 20px 7px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 360px){
    .form{
        .container-form{
            .form-1{
                .container-form-1{
                    padding: 20px;
                    input{
                        padding: 20px 0px 20px 6px;
                    }
                    textarea{
                        padding: 20px 0px 20px 6px;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 320px){
    .form{
        .container-form{
            .form-1{
                .container-form-1{
                    padding: 20px;
                    input{
                        font-size: 11px;
                        padding: 20px 0px 20px 4px;
                    }
                    textarea{
                        padding: 20px 0px 20px 5px;
                        font-size: 11px;
                    }
                    div select{
                        font-size: 11px;
                    }
                    div i{
                        padding: 18px;
                    }
                }
            }
        }
    }
} 