
@import '../helper/mixin.scss';
.gallery{
    .bg-gallery{
        background-image: url(../../assets/image7/parallax_image_03-1.jpg);
        background-position: left top;
        background-size: cover;
        height: 490px;
    }
    .photo-gallery{
        .container-photo{
            margin: 0 auto;
            width: 65%;
            padding: 6% 0px;
            h2{
                @include h2;
                font-size: 37px;
                position: relative;
            }
            h2:before{
                @include h2-border;
                width: 11%;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            p{
                font-family: $font-fam;
                padding-top: 35px;
                color: #7e8890;
                line-height: 32px;
                font-size: 14px;
                width: 68%;
            }

            .photo{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-top: 7%;
                .photo-1{
                    width: 31%;
                    padding-bottom: 30px;
                    img{
                        width: 100%;
                        transition: all 0.5s ease-out;
                        cursor: pointer;
                        &:hover{
                            transform: scale(1.1)
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .gallery{
        .bg-gallery{
            height: 400px;
        }
        .photo-gallery{
            .container-photo{
                width: 75%;
            }
        }
    }
} 
@media only screen and (max-width: 800px){
    .gallery{
        .photo-gallery{
            .container-photo{
                width: 80%;
                p{
                    width: 100%;
                }
                .photo{
                    display: block;
                    .photo-1{
                        width: 100%;
                    }
                }
            }
        }
    }
} 
@media only screen and (max-width: 415px){
    .gallery{
        .photo-gallery{
            .container-photo{
                h2::before{
                    width: 30%;
                }
            }
        }
    }
} 
@media only screen and (max-width: 320px){
    .gallery{
        .photo-gallery{
            .container-photo{
                h2::before{
                    top: 120px
                }
            }
        }
    }
} 