

@import '../helper/mixin.scss';


footer{
    .footer-1{
        color: #333e48;
        background-color: #fed700;
        .container-footer-1{
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            width: 75%;
            font-family: $font-fam;
            padding: 15px 0px;
            .footer-1-1{
                display: flex;
                h3{
                    margin: 0;
                    margin-top: 7px;
                    font-weight: 300;
                }
                i{
                    margin-top: 11px;
                    font-size: 25px;
                    margin-right: 15px;
                }
            }
            p{
                margin: 0;
                margin-top: 11px;
                font-size: 15px;
                margin-left: -40px;
            }
            .footer-1-2{
                width: 41%;
                input{
                    padding: 12px;
                    border-radius: 30px 0px 0px 30px;
                    border: 1px solid white;
                    padding-left: 30px;
                    font-size: 15px;
                    width: 68%;
                }
                button{
                    background-color: #333e48;
                    padding: 12px;
                    border-radius: 0px 30px 30px 0px;
                    border: 1px solid #333e48;
                    color: #fff;
                    width: 22%;
                    margin-left: -3px;
                    font-size: 15px;
                    transition: all 0.5s ease-in;
                    cursor: pointer;
                    &:hover{
                        background: #000;
                        border-color: #000
                    }
                }
            }
        }
    }
    .footer-2{
        background-color: #f8f8f8;
        .container-footer-2{
            display: flex;
            margin: 0 auto;
            width: 75%;
            justify-content: space-between;
            font-family: $font-fam;
            color: #333e48;
            padding: 3% 0px;
            .footer-2-1{
                width: 35%;
                svg{
                    width: 145px;
                }
                .phone{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 25px;
                    p{
                        margin: 0;
                        font-size: 13px;
                    }
                    h4{
                        font-size: 22px;
                        font-weight: 300;
                        margin-top: 5px;
                    }
                    i{
                        color: #fed700;
                    }
                }
                .contact{
                    p{
                        font-size: 14px;
                        font-weight: bolder;
                        margin-bottom: 5px;
                    }
                    address{
                        font-size: 14px;
                        font-style: unset
                    }
                }
                .links{
                    margin-top: 20px;
                    cursor: pointer;
                    i{
                        color: #7c7c7c;
                        margin-right: 23px;

                    }
                    .fa-rss:hover{
                        color: #f60;
                    }
                    .fa-facebook:hover{
                        color: #3b5998;
                    }
                    .fa-whatsapp:hover{
                        color: #4fce5d;
                    }
                    .fa-pinterest:hover{
                        color: #bd081c;
                    }
                    .fa-instagram:hover{
                        color: #f25a00;
                    }
                    .fa-youtube:hover{
                        color: red;
                    }
                    
                }
            }
            .footer-2-2{
                width: 15%;
                h3{
                    font-size: 16px;
                    margin-top: 0px;
                }
                ul{
                    list-style: none;
                    padding-left: 0px;
                    li{
                        font-size: 14px;
                        line-height: 33px;
                        cursor: pointer;
                    }
                }
                .ul-1{
                    margin-top: 38px;
                }
            }
        }
    }
    .footer-3{
        background-color: #eaeaea;
        .container-footer-3{
            margin:  0 auto;
            width: 75%;
            display: flex;
            justify-content: space-between;
            padding: 5px 0px;
            .copyright{
                color: #333e48;
                font-family: $font-fam;
                font-size: 15px;
                margin-top: 10px;
                a{
                    font-weight: bolder;
                    cursor: pointer;
                }
            }
            .payment{
                img{
                    width: 100%;
                }
            }
        }
    }
}
.scrolltop{
	display: none;
	position:fixed;
	right:25px;
	bottom: 4%;
	cursor:pointer;
	color:#fff;
	font-size: 20px;
    overflow: hidden;
    background: #fed700;
    padding: 10px;
    border-radius: 3px;
    opacity: .5;
}

.scrolltop:hover{
    color: white;
    opacity: 1;
}