@media only screen and (max-width: 1921px) {
  .header .banner .container .menu-bar .logo {
    padding-right: 30px; }
  .header .banner .container .menu-bar span {
    padding-right: 28px; }
  .header .gallery2 {
    margin-top: 0%; }

  .body .slide-product .list-product {
    width: 68% !important; }
  .body .modi .info-modi {
    padding-bottom: 15% !important; }
  .body .form .info-form .container-1 .btn2 {
    left: 80% !important; } }
@media only screen and (max-width: 1681px) {
  .header .banner .container .menu-bar span {
    padding-right: 16px; }
  .header .slide-product .list-product {
    width: 87%;
    margin: 0 auto; }

  .body .welcome {
    justify-content: space-between; }
    .body .welcome .info-wel {
      width: 45% !important; }
  .body .slide-product .list-product {
    width: 58% !important; }
  .body .modi .info-modi .info-modi-1 .none1 {
    top: 56% !important; }
    .body .modi .info-modi .info-modi-1 .none1 h3 {
      width: 58% !important; }
  .body .modi .info-modi .info-modi-1 .none {
    top: 64% !important; }
  .body .modi .info-modi .info-modi-1 .text-color {
    top: 56% !important; } }
@media only screen and (max-width: 1601px) {
  .header .gallery2 {
    margin-top: -1%; }

  .body .modi .info-modi .info-modi-1 .none1 {
    top: 51% !important; }
    .body .modi .info-modi .info-modi-1 .none1 h3 {
      width: 60% !important; }
  .body .modi .info-modi .info-modi-1 .none {
    top: 59% !important; }
  .body .modi .info-modi .info-modi-1 .text-color {
    top: 51% !important; } }
@media only screen and (max-width: 1537px) {
  .header .banner .container .menu-bar span {
    padding-right: 12px; }
  .header .gallery2 {
    margin-top: -2%; }

  .body .slide-product .list-product {
    width: 63% !important; }
  .body .modi .info-modi .info-modi-1 .none1 h3 {
    width: 62% !important; } }
@media only screen and (max-width: 1441px) {
  .header .banner .container .menu-bar div form {
    padding-left: 1px; }
    .header .banner .container .menu-bar div form #search1 {
      width: 135px; }
  .header .banner .container .menu-bar span {
    padding-right: 11px; }
  .header .gallery2 {
    margin-top: 2%; }

  .body .welcome {
    justify-content: space-between; }
    .body .welcome .info-wel {
      width: 45% !important; }
      .body .welcome .info-wel button {
        width: 31% !important; }
  .body .slide-product .list-product {
    width: 66% !important; }
  .body .modi .info-modi .info-modi-1 {
    height: 212px !important; }
    .body .modi .info-modi .info-modi-1 .none1 {
      top: 65% !important; }
      .body .modi .info-modi .info-modi-1 .none1 h3 {
        width: 66% !important; }
    .body .modi .info-modi .info-modi-1 .none {
      top: 78% !important; }
      .body .modi .info-modi .info-modi-1 .none h3 {
        width: 82% !important; }
    .body .modi .info-modi .info-modi-1 .text-color {
      top: 66% !important; }
  .body .slide-review {
    background-repeat: no-repeat; }
  .body .form .info-form {
    width: 69% !important; }
    .body .form .info-form .container-1 #picker {
      width: 76%; }

  .footer .info-footer {
    width: 69% !important; } }
@media only screen and (max-width: 1401px) {
  .header .gallery2 {
    margin-top: -3%; }

  .body .modi .info-modi .info-modi-1 .none1 h3 {
    width: 68% !important; }

  .body .form .info-form {
    width: 72% !important; }

  .footer .info-footer {
    width: 72% !important; } }
@media only screen and (max-width: 1367px) {
  .header .banner .container {
    width: 68%; }
  .header .art-gallery {
    height: 405px; }

  .body .welcome .info-wel button {
    width: 30% !important; }
  .body .modi .info-modi .info-modi-1 {
    height: 194px !important; }
    .body .modi .info-modi .info-modi-1 .none1 h3 {
      width: 70% !important; }
  .body .form .info-form {
    width: 73% !important; }
  .body .slide-product .list-product {
    width: 69% !important; }
  .body .information {
    width: 72% !important; }

  .footer .info-footer {
    width: 72% !important; } }
@media only screen and (max-width: 1026px) {
  .header .banner {
    height: 668px; }
    .header .banner .container .menu-bar {
      display: none !important; }
    .header .banner .container .menu-mobile {
      display: block !important; }
    .header .banner .slideshow {
      padding-top: 33px; }
      .header .banner .slideshow .slide-item {
        width: 85%; }
        .header .banner .slideshow .slide-item .item .slide-content .slide-content-left {
          padding-top: 40px; }
          .header .banner .slideshow .slide-item .item .slide-content .slide-content-left h1 {
            font-size: 35px; }
          .header .banner .slideshow .slide-item .item .slide-content .slide-content-left img {
            width: 36%; }
        .header .banner .slideshow .slide-item .item .slide-content .slide-content-right {
          width: 55%; }
  .header .art-gallery {
    height: 368px;
    background-size: cover; }
    .header .art-gallery .gallery1 {
      width: 85%; }
  .header .gallery2 .menu-gallery {
    width: 85%; }

  .body .welcome {
    width: 86% !important;
    justify-content: space-between; }
    .body .welcome .info-wel {
      padding: 0px !important;
      width: 48% !important; }
      .body .welcome .info-wel h1 {
        font-size: 24px; }
      .body .welcome .info-wel button {
        width: 30% !important; }
    .body .welcome .img-wel {
      width: 48%; }
      .body .welcome .img-wel img {
        width: 100% !important; }
  .body .slide-product .list-product {
    width: 61% !important; }
  .body .slide-review {
    margin-top: -6%; }
  .body .news .info-news1 div {
    padding: 8px !important; }
  .body .modi .info-modi {
    padding-bottom: 33% !important; }
    .body .modi .info-modi .info-modi-1 {
      height: 130px !important; }
      .body .modi .info-modi .info-modi-1 img {
        width: 100% !important; }
      .body .modi .info-modi .info-modi-1 .none1 {
        top: 66% !important; }
        .body .modi .info-modi .info-modi-1 .none1 h3 {
          padding-left: 10px !important;
          width: 94% !important; }
      .body .modi .info-modi .info-modi-1 .none {
        top: 93% !important; }
        .body .modi .info-modi .info-modi-1 .none h3 {
          width: 91% !important;
          padding: 11px !important; }
      .body .modi .info-modi .info-modi-1 .text-color h3 {
        padding: 20px 11px !important; }
  .body .information {
    width: 86% !important; }
    .body .information .award {
      width: 51% !important; }
      .body .information .award img {
        width: 100% !important; }
      .body .information .award .contact {
        justify-content: space-between; }
        .body .information .award .contact .container-1 {
          width: 45% !important; }
        .body .information .award .contact .container-2 {
          width: 45% !important; }
        .body .information .award .contact .container-3 {
          width: 45% !important; }
        .body .information .award .contact .container-4 {
          width: 45% !important; }
    .body .information .open-hour {
      width: 42% !important; }
  .body .form .info-form {
    width: 87% !important; }
    .body .form .info-form .container-1 {
      width: 18% !important; }
    .body .form .info-form .btn3 {
      width: 17% !important; }

  .footer .info-footer {
    width: 87% !important; }
    .footer .info-footer .footer-1 {
      padding-top: 11px; } }
@media only screen and (max-width: 801px) {
  .header .banner {
    height: 960px; }
    .header .banner .container {
      width: 90%; }
    .header .banner .slideshow .slide-item .item .slide-content {
      display: block; }
      .header .banner .slideshow .slide-item .item .slide-content .slide-content-left {
        text-align: center;
        width: 100%; }
        .header .banner .slideshow .slide-item .item .slide-content .slide-content-left h1 {
          font-size: 25px; }
        .header .banner .slideshow .slide-item .item .slide-content .slide-content-left p {
          width: 100%; }
      .header .banner .slideshow .slide-item .item .slide-content div {
        width: 100%;
        text-align: center;
        padding-top: 20px; }
        .header .banner .slideshow .slide-item .item .slide-content div .slide-content-right {
          width: 70%; }
    .header .banner .slideshow .left {
      bottom: 8%; }
    .header .banner .slideshow .right {
      bottom: 8%; }
  .header .art-gallery {
    height: 364px; }
    .header .art-gallery .gallery1 {
      width: 81%; }
      .header .art-gallery .gallery1 .info-gallery1 .info-img1 {
        width: 30%; }
      .header .art-gallery .gallery1 .info-gallery1 .info-img2 {
        width: 30%; }
      .header .art-gallery .gallery1 .info-gallery1 .info-img3 {
        width: 30%; }
  .header .gallery2 {
    margin-top: -1%; }
    .header .gallery2 .menu-gallery div .menu-gallery1 {
      padding-top: 13px;
      width: 300px;
      flex-wrap: wrap; }
      .header .gallery2 .menu-gallery div .menu-gallery1 .recipes {
        padding-left: 51px; }
    .header .gallery2 .menu-gallery .btn-gallery {
      padding: 36px; }

  .body .welcome {
    width: 80%;
    display: block !important; }
    .body .welcome .info-wel {
      width: 100% !important;
      text-align: center; }
    .body .welcome .img-wel {
      padding-top: 35px;
      width: 100% !important;
      text-align: center; }
      .body .welcome .img-wel img {
        width: 70% !important; }
  .body .slide-product .list-product {
    width: 79% !important; }
    .body .slide-product .list-product #slider-product .info-img2 .text {
      bottom: 4px !important;
      height: 206px !important; }
  .body .modi {
    width: 90% !important; }
    .body .modi h1 {
      text-align: center; }
    .body .modi p {
      text-align: center; }
    .body .modi .info-modi .info-modi-1 {
      height: 207px !important;
      width: 33% !important; }
      .body .modi .info-modi .info-modi-1 .none1 {
        top: 53% !important; }
        .body .modi .info-modi .info-modi-1 .none1 h3 {
          width: 85% !important; }
      .body .modi .info-modi .info-modi-1 .text-color {
        top: 49% !important; }
        .body .modi .info-modi .info-modi-1 .text-color h3 {
          padding: 30px 11px !important; }
      .body .modi .info-modi .info-modi-1 .none {
        top: 70% !important; }
        .body .modi .info-modi .info-modi-1 .none h3 {
          width: 90% !important; }
  .body .slide-review {
    margin-top: -13% !important; }
  .body .information {
    display: block !important; }
    .body .information .award {
      width: 100% !important; }
      .body .information .award h2 {
        text-align: center; }
      .body .information .award p {
        text-align: center; }
      .body .information .award img {
        text-align: center; }
      .body .information .award h3 {
        text-align: center; }
      .body .information .award .contact {
        margin: 0 auto !important;
        width: 83% !important; }
        .body .information .award .contact .contact-2 {
          width: 35% !important; }
        .body .information .award .contact .contact-4 {
          width: 35% !important; }
    .body .information .open-hour {
      margin: 0 auto;
      width: 70% !important; }
  .body .form .info-form {
    margin: 0 auto;
    display: block !important;
    width: 48% !important; }
    .body .form .info-form .container-1 {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100% !important; }
      .body .form .info-form .container-1 #search {
        padding: 10px !important;
        width: 83% !important; }
      .body .form .info-form .container-1 #picker {
        width: 79% !important; }
      .body .form .info-form .container-1 .btn2 {
        left: 82% !important; }
      .body .form .info-form .container-1 .btn1 {
        left: 82% !important; }
    .body .form .info-form .btn3 {
      width: 92% !important;
      padding: 12px; }

  .footer .info-footer {
    display: block !important; }
    .footer .info-footer .footer-1 {
      width: 100% !important;
      padding-bottom: 20px; }
      .footer .info-footer .footer-1 img {
        width: 20% !important; }
    .footer .info-footer .footer-2 {
      width: 31% !important;
      padding-bottom: 20px; }
    .footer .info-footer .footer-3 {
      width: 100% !important;
      padding-bottom: 20px; }
    .footer .info-footer .footer-4 {
      width: 100% !important; } }
@media only screen and (max-width: 769px) {
  .header .art-gallery {
    height: 382px; }
    .header .art-gallery .gallery1 {
      width: 84%; }
  .header .gallery2 {
    margin-top: -2%; }

  .body .slide-product .list-product {
    width: 82% !important; }
  .body .modi .info-modi .info-modi-1 .none1 {
    top: 49% !important; }
    .body .modi .info-modi .info-modi-1 .none1 h3 {
      width: 89% !important; }
  .body .modi .info-modi .info-modi-1 .text-color {
    top: 44% !important; }
  .body .modi .info-modi .info-modi-1 .none {
    top: 66% !important; } }
@media only screen and (max-width: 601px) {
  .header {
    margin: 5px; }
    .header .banner .container .top-menu {
      display: block; }
      .header .banner .container .top-menu .reserve {
        padding-top: 20px;
        margin-left: -10px; }
    .header .art-gallery {
      height: 1252px;
      background-position: center; }
      .header .art-gallery .gallery1 {
        bottom: 6% !important; }
        .header .art-gallery .gallery1 .info-gallery1 {
          display: block;
          text-align: center; }
          .header .art-gallery .gallery1 .info-gallery1 .info-img1 {
            width: 100%;
            padding-bottom: 20px; }
          .header .art-gallery .gallery1 .info-gallery1 .info-img2 {
            width: 100%;
            padding-bottom: 20px; }
          .header .art-gallery .gallery1 .info-gallery1 .info-img3 {
            width: 100%; }
    .header .gallery2 {
      margin-top: -5%; }
      .header .gallery2 .menu-gallery {
        text-align: center;
        width: 90%;
        display: block; }
        .header .gallery2 .menu-gallery div {
          display: block; }
          .header .gallery2 .menu-gallery div h2 {
            padding-right: 0px;
            font-size: 35px;
            margin-bottom: 5px;
            padding-top: 15px; }
          .header .gallery2 .menu-gallery div .menu-gallery1 {
            display: flex;
            width: 100%; }
            .header .gallery2 .menu-gallery div .menu-gallery1 .food {
              padding-left: 10px; }
            .header .gallery2 .menu-gallery div .menu-gallery1 .recipes {
              padding-left: 0px; }
        .header .gallery2 .menu-gallery .btn-gallery button i {
          padding: 10px; }

  .body .modi {
    padding-bottom: 25%; }
    .body .modi .info-modi {
      display: block !important;
      margin: 0 auto !important;
      width: 80% !important; }
      .body .modi .info-modi .info-modi-1 {
        height: 275px !important;
        width: 100% !important;
        position: relative; }
        .body .modi .info-modi .info-modi-1 img {
          height: 260px;
          width: 100% !important; }
        .body .modi .info-modi .info-modi-1 .none1 {
          top: 66% !important; }
          .body .modi .info-modi .info-modi-1 .none1 h3 {
            width: 100% !important; }
        .body .modi .info-modi .info-modi-1 .text-color {
          position: absolute !important;
          top: 53% !important;
          width: 100%; }
        .body .modi .info-modi .info-modi-1 .none {
          top: 74% !important;
          width: 100%; }
          .body .modi .info-modi .info-modi-1 .none h3 {
            padding: 0px 11px !important; }
  .body .slide-product .list-product {
    width: 54% !important; }
  .body .slide-review {
    height: 335px !important; }
    .body .slide-review .right2 {
      right: 5% !important; }
    .body .slide-review .left2 {
      left: 5% !important; }
  .body .news .info-news {
    display: block !important; }
    .body .news .info-news .info-news1 {
      width: 100% !important;
      margin-bottom: 25px; }
  .body .information .award .contact {
    display: block !important;
    padding-left: 25%; }
    .body .information .award .contact .contact-1 {
      width: 100% !important; }
    .body .information .award .contact .contact-2 {
      width: 100% !important; }
    .body .information .award .contact .contact-3 {
      width: 100% !important; }
    .body .information .award .contact .contact-4 {
      width: 100% !important; }
  .body .information .open-hour {
    width: 85% !important; }
  .body .form .info-form .btn3 {
    width: 96% !important; }

  .footer .info-footer .footer-2 {
    width: 42% !important; } }
@media only screen and (max-width: 426px) {
  .header .banner {
    height: 860px; }
    .header .banner .container {
      width: 93%; }
      .header .banner .container .top-menu .reserve {
        display: none; }
  .header .art-gallery {
    height: 1050px; }
    .header .art-gallery .gallery1 {
      bottom: 9%; }
  .header .gallery2 .menu-gallery .menu-gallery1 {
    display: block !important; }
    .header .gallery2 .menu-gallery .menu-gallery1 .food {
      padding-left: 40px !important; }
  .header .gallery2 .list-gallery #slider-gallery {
    width: 69% !important;
    margin: 0 auto; }

  .body .modi h1 {
    line-height: 38px; }
  .body .modi .info-modi .info-modi-1 .none1 {
    top: 59% !important; }
    .body .modi .info-modi .info-modi-1 .none1 h3 {
      width: 69% !important; }
  .body .modi .info-modi .info-modi-1 .none h3 {
    width: 100% !important; }
  .body .modi .info-modi .info-modi-1 .text-color {
    top: 53% !important; }
  .body .slide-product .list-product {
    width: 77% !important; }
  .body .slide-review {
    height: 410px !important; }
    .body .slide-review .left2 {
      bottom: 45% !important; }
    .body .slide-review .right2 {
      bottom: 45% !important; }
  .body .information .award .contact {
    padding-left: 11% !important; }
  .body .information .open-hour {
    width: 100% !important; }
  .body .form .info-form {
    width: 75% !important; }
    .body .form .info-form .btn3 {
      width: 94% !important; }

  .footer .info-footer .footer-2 {
    width: 60% !important; }
  .footer .follow {
    display: block !important; }
    .footer .follow div {
      padding-bottom: 10px !important; } }
@media only screen and (max-width: 415px) {
  .header .banner {
    height: 770px; }
    .header .banner .container .top-menu {
      text-align: center;
      width: 101%; }
      .header .banner .container .top-menu .follow-link {
        display: block; }
        .header .banner .container .top-menu .follow-link div {
          padding-top: 10px; }
      .header .banner .container .top-menu .reserve {
        display: none; }
    .header .banner .slideshow .slide-item .item .slide-content .slide-content-left {
      padding-top: 0px; }
  .header .art-gallery {
    height: 1061px; }
    .header .art-gallery .gallery1 {
      bottom: 6%; }
  .header .gallery2 {
    margin-top: -8%; }

  .body .welcome .info-wel button {
    width: 38% !important; }
  .body .slide-product .list-product #slider-product .info-img2 .text {
    height: 170px !important; }
  .body .slide-review {
    height: 445px !important; }
  .body .modi .info-modi .info-modi-1 .none1 h3 {
    width: 71% !important; } }
@media only screen and (max-width: 385px) {
  .header .gallery2 {
    margin-top: -8%; }
    .header .gallery2 .list-gallery {
      padding: 0px !important;
      padding-bottom: 30px !important; }

  .body .slide-product .list-product {
    width: 75% !important; }
    .body .slide-product .list-product #slider-product .info-img2 {
      width: 88% !important; }
  .body .modi .info-modi .info-modi-1 .none1 h3 {
    width: 77% !important; }
  .body .form .info-form .btn3 {
    width: 96% !important; } }
@media only screen and (max-width: 376px) {
  .header .gallery2 {
    margin-top: -8% !important; }
    .header .gallery2 .list-gallery {
      padding: 20px 50px !important; }
      .header .gallery2 .list-gallery #slider-gallery {
        width: 100% !important; }

  .body .form .info-form .btn3 {
    width: 96% !important; }
  .body .slide-product .list-product {
    width: 77% !important; }
  .body .modi .info-modi .info-modi-1 .none1 h3 {
    width: 76% !important; }

  .footer .info-footer .footer-2 {
    width: 73% !important; }
  .footer .follow {
    width: 86% !important; } }
@media only screen and (max-width: 361px) {
  .header .banner {
    height: 700px; }
  .header .gallery2 .list-gallery {
    padding: 42px; }

  .body .slide-product .list-product {
    width: 79% !important; }
    .body .slide-product .list-product #slider-product .info-img2 .text {
      height: 206px !important; }
  .body .modi .info-modi .info-modi-1 .none1 h3 {
    padding: 18px !important;
    width: 83% !important; }
  .body .slide-review {
    height: 495px !important; }
  .body .banner img {
    width: 85%; }
  .body .form .info-form .btn3 {
    width: 97% !important; }
  .body .information .open-hour .open-container {
    padding: 16px !important; } }
@media only screen and (max-width: 321px) {
  .header .art-gallery {
    height: 1168px; }
  .header .gallery2 {
    margin-top: -10% !important; }
    .header .gallery2 .list-gallery {
      padding: 0px !important;
      padding-bottom: 30px !important; }
      .header .gallery2 .list-gallery #slider-gallery {
        width: 89% !important; }

  .body .welcome .info-wel button {
    width: 46% !important; }
  .body .modi .info-modi {
    width: 85% !important; }
    .body .modi .info-modi .info-modi-1 .none1 h3 {
      width: 90% !important;
      padding: 11px !important; }
    .body .modi .info-modi .info-modi-1 .text-color {
      margin-left: 4px;
      top: 53% !important; }
    .body .modi .info-modi .info-modi-1 .none {
      top: 69% !important; }
      .body .modi .info-modi .info-modi-1 .none h3 {
        padding: 14px !important; }
  .body .slide-product .list-product {
    width: 75% !important; }
    .body .slide-product .list-product #slider-product .info-img2 {
      width: 73% !important; }
  .body .information {
    width: 100% !important; }
  .body .form .info-form .btn3 {
    width: 99% !important; } }

/*# sourceMappingURL=responsive.css.map */
